@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body {
    background-color: rgb(255, 166, 0);
    width: 700px;
}
.main-headings {
    font-family: 'Chewy';
    font-weight: 100;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(80, 80, 79);
}
.sub-headings {
    font-family: 'Chewy';
    font-size: 40px;
    font-weight: 100;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(80, 80, 79);
}   
img {
    vertical-align: middle;
    margin-top: 10px;
    border: 5px double rgb(129, 4, 4);
}
div {
    vertical-align: middle;
    font-family: 'Ubuntu';
}
.images {
    display: block;
    margin-left: 10px;
}
.recipes {
    display: inline;
    font-size: 35px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgb(80, 80, 79);
    font-family: 'Ubuntu';
    font-style: italic;
}
a {
    display: block;
    margin-top: 8px;
    font-family: 'Ubuntu';
    margin-bottom: 20px;
}
.buttons {
    font-size: 30px;
    background-color: rgb(252, 0, 0);
    color: white;
    padding: 20px;
    margin-top: 8px;
    margin-bottom: 40px;
}